
<!DOCTYPE html>
<html>
<title>CS 493</title>
<link rel="stylesheet" href="https://use.typekit.net/ndd0bsc.css">
<link rel="stylesheet" href="/css/styleUI.css" type="text/css">
<head>
    <meta charset="utf-8">

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        {{#each jsscripts}}
        <script src="/scripts/{{this}}"></script>
        {{/each}}
</head>
<body>
<center>
 
  {{{body}}}

</center>
</body>
</html>