<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CS495</title>
    <h1>Boats API</h1>
    {{#if (loggedIn login)}}
    <h3>JWT</h3>
    <div>
    <p>{{token}}</p>
    </div>
     <a href="/logout">Log Out</a>
    {{else}}
    <h2>Login to generate JWT</h2>
    <a href="/login">Login</a>
    <a href="/login">Sign Up</a>
    {{/if}}
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
  </body>
</html>